<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1049388490916-a5ess8saaakeego1cgrdgtc0ejilneiv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1049388490916-a5ess8saaakeego1cgrdgtc0ejilneiv</string>
	<key>API_KEY</key>
	<string>AIzaSyBXN7cuZVND8Z8J8Ve2Cf2cGC3t2zT3Lgs</string>
	<key>GCM_SENDER_ID</key>
	<string>1049388490916</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.todayi</string>
	<key>PROJECT_ID</key>
	<string>today-i-b7873</string>
	<key>STORAGE_BUCKET</key>
	<string>today-i-b7873.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1049388490916:ios:0f6be7d0fedda735ee4631</string>
</dict>
</plist>